.ChatWindowContainer{ 
    flex-grow: 1;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
.ChatWindowContainer > :nth-child(2) {
    flex: 1;
    overflow-y: auto;
}
.ChatWindowContainer > :nth-child(3) {
    height: 75px; 
    flex-shrink: 0;
    margin-bottom: 0.5rem;
}