.chatInputContainer {
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.chatInputContainer > :nth-child(1) {
    height: 105px;
    flex-grow: 1;
    min-width: fit-content;
    background-color: var(--bg-color);
    margin-inline: 25%;
    border-radius: 25px;
    border: 2px solid var(--input-border);
    box-shadow: var(--input-box-shadow);
}

.chatInputContainer > :nth-child(2) {
    margin-top: 5px;
    font-size: small;
    font-weight: 300 !important;
    text-align: center;
    opacity: 0.6;
}

.chatInputContainer input {
    flex-grow: 1;
    height: 50%;
    border: none;
    color: var(--text-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--bg-color);
    padding-inline: 1.5rem;
}

.chatInputContainer input:focus {
    outline: none;
    box-shadow: none;
}

.icon {
    font-size: 15px;
    font-weight: 300 !important;
    padding-inline: 0.5rem;
    padding-block: 0.4rem;
    border-radius: 40px;
    margin-bottom: 10px;
}

.icon:hover {
    background-color: #d3cfcf3e;
}

.sendicon {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300 !important;
    padding-inline: 0.65rem;
    padding-block: 0.7rem;
    border-radius: 40px;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 13px;
    margin-bottom: 10px;
}
.tools {
    display: flex;
    gap: 10px;
}

@media(max-width: 880px) {
    .chatInputContainer :nth-child(1) { 
        margin-inline: 15%;
    }
    .chatInputContainer input {
        padding-inline: 1rem;
        margin-inline: 1rem !important;
    }
    .tools {
        margin-inline: 0rem !important;
        gap: 5px !important;
    }
    .tools .icon i {
        margin-inline: 0rem !important;
    }
    .tools .icon {
        margin-inline: 0rem !important;
    }
}

@media(max-width: 630px) {
    .chatInputContainer :nth-child(1) { 
        margin-inline: 5%;
    }
    .bottom_line {
        display: none;
    }
    .tool-span {
        margin-inline-start: 0 !important;
    }
}