#root {
    --bs-body-bg: var(--bg-color);
    --bs-body-color: var(--text-color);
    --bs-border-width: 0;
    --bs-border-radius: 1rem;
    --bs-dropdown-padding-x: 0.5rem;
}
.rootComponent {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: Roboto, 'Open Sans', 'Helvatica Neve', sans-serif;
}
.rootComponent > :nth-child(1) {
    width: fit-content;
}

.rootComponent > :nth-child(2) {
  width: auto;
}